<body>
  <div id="topHome">

    <div >
      <div class="pageName">News Scraper</div>
    </div>

    <div class="pages">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>

    <div class="buttons">
      <button id="scrapeButton" class="btn btn-dark">Scrape New Articles</button>
      <button id="clearButton" class="clearButton btn btn-dark">Clear Articles</button>
    </div>
  </div>

  <div class="container articleArea">
    <h1 id="mainHeader">News Scraper Assignment</h1>
    <div id="articles"></div>
  </div>

  <footer></footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
</body>