<body>
  <div id="topHome">

    <div>
      <div class="pageName">News Scraper</div>
    </div>

    <div class="pages">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>

    <div class="buttons">
      <button class="clearButton btn btn-dark">Clear Articles</button>

    </div>
  </div>

  <div class="container articleArea">
    <h1 id="mainHeader">Saved News Articles</h1>
    <div id="savedArticles"></div>
  </div>

  <footer></footer>

  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl">
    {{!-- Modal content --}}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="articleName"></span></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <span class="articleNotes">No notes for this article yet</span>
        <hr><form id="addingNote">
          <div class='form-group row mb-1'>
          <label for='theNotes' class='col-12 col-form-label'><b>Note:</b><p></p>
          <textarea class="form-control" id="theNotes" rows="5" placeholder="Leave a note here..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark submitNote" data-dismiss="modal" data-key="">Submit</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
</body>